.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 0 20px 20px 20px;

}
.media-body img {
  width: 100%;
  background-image: cover;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
  text-align: justify;
}

.media-aside hr {

    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    font-color: #F1F3F4;
}


.image-properties {

  max-width: 100%;
    height: auto;
    display: block;

}

.media-aside p{
  font-weight: bold;
}

.media-section {
  margin: 40px auto;
  font-size: 23px;
}

.media-section h2{
  text-shadow:  1px 1px #ccc;
}

.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

.item-interface {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  width: 200px;
  text-decoration:none;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}


.name-attributes {
  padding-top: 30px;
}



.container {
  text-decoration: none;

}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 24;
  background: #6AD58B;
  transition: background 0.3s ease;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  height: 40px
}

// p {
//   padding-top: 10px;
// }

.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-top:  30px;
}

.products {
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  background-color: #FDFDFD;
  margin: 40px 0px;
  padding-left: 40px;
  height: 200px;
  li{
    padding-bottom:20px;
  }
}

/* Body design */
.product-body {

  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  h2 {
    margin-left: 20px;
  }

}
.product-body h2 {
  font-weight: bold;
  font-size: 23px;

  margin-right: 10px;
  padding-top: 34px;
}
.product-body p {
  font-weight: lighter;
  color: black;
  margin-bottom: 0;

}

.list-inline {
  display: flex;
  align-items: right;
  padding-bottom: 20px;

}


/* Controls design */
.product-controls {
  display: flex;
  align-items: right;

  margin: 0px;
  margin-left: 30px;

  display: flex;
  justify-content: flex-end;

}


/* Hover effects */
.products:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.name_image {
  display: flex;
  align-items: center;
}


