.info {
  width: 400px;
  margin: 0 auto;
}

.new_booking {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.button {
  text-align: center;
  input {
    margin: 10px 0px;
  }
}

.booking-new {
  min-height: 80vh;
}